.mainContainer {
    display: flex;
    width: 100%;
    position: fixed;
    height: 100%;
}

.leftContainer {
    background-color: #6b1d1d;
    padding: 100px;
    border-radius: 10px;
}

.rightContainer {
    background-color: #f5e4e4;
    padding: 100px;
    border-radius: 10px;
}